@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* SPLASH PAGE */
.splash-body {
  height: 100vh;
  background: linear-gradient(135deg, #F8F6FB, #EFE9F7);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CENTER CONTENT */
.splash-container {
  text-align: center;
}

/* LOGO */
.splash-logo {
  width: 420px;
  margin-bottom: 35px;
}

/* LOADER */
.loader {
  width: 32px;
  height: 32px;
  border: 3px solid #3A1C5A;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
